body {
    background-color: rgba(32, 33, 36, 1);
    color: white;
    font: 13px/27px Roboto, Arial, sans-serif;
}

.navh {
    margin: 15px;
    display: flex;
    justify-content: end;


}

.nav {

    margin-left: 2rem;
}
.profile{
    
}

a {
    text-decoration: none;
    color: white;
}

.gmage {

    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);

}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

img:hover {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.075);
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 211px;

}
.sb{
    margin: 29px;
    
    display: flex;
    justify-content: center;
}

.mainsb {
    display: flex;
    justify-content: flex-start;
    border:.1px solid rgb(177, 177, 177);
    background-color: rgba(32, 33, 36, 1);
    color: black;
    width: 35rem;
    height: 3rem;
    border-radius: 25px;
}
.mainsb:hover{
    cursor: pointer;
    background-color: rgb(91, 92, 94);
    border: 0;
}
.sicon{
    margin: 6px;
}
input{
    background-color: transparent;
    border: 0px solid;
    height: 3rem;
    width: 25rem;
    color: #CCC;
    font-size: 19px;
}
textarea:focus, input:focus{
    outline: none;
}
.btn{
    display: flex;
    justify-content: center;
}
button{
    margin-left: 1rem;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    background-color: rgb(43, 43, 43);
    color: white;
    justify-content: center;
    border: 0cap;

}